@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

*, *:after, *:before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    color: #1d0c1d;
    background-color: rgb(221, 221, 221);
}

.share-buttons {
    margin: auto;
    padding-left: 10px;
}

nav {
    background-color:#c58a1ce7 !important;
}

.jumbotron {
    font-family: 'Work Sans', sans-serif;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255) !important;
    color: rgb(15, 3, 3);
    padding: 50px;
}
.jumbotron.h1{
font-weight: bold !important;
}

.logo {
    fill: #ac7000e7;
    width: 100%;
    max-width: 500px;
}

.assitive-text {
    display: none;
    font-size: 0;
}

.header-container {
    max-width: 500px;
    font-size: 18px;
    margin: auto;
}

#carouselFade {
    display: inline-block;
    margin: auto;
}

.carousel-inner {
    margin: auto;
    max-width: 600px;
}

.caption-photo {
    color:  rgb(15, 3, 3);
    background-color: rgba(255, 255, 255, 0.658);
    font-size: 20px;
    font-weight: bold;
}

.exhibition-text {
    color: rgb(15, 3, 3);
    font-weight: bold;
}

.galleries, .info-footer {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    background-color: rgb(255, 255, 255);
    padding: 60px;
}

.white-text {
    font-size: 16px;
}

.photographers {
    background-color: rgb(255, 255, 255);
}

#photographers-heading {
    display: block;
    padding-top: 7px;
    padding-left: 60px;
    color: #ac7000e7;
    background-color: rgb(238, 238, 238);
    min-height: 60px;
}

#photographers-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.card {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    margin: 15px;
}

.card-photo {
    max-width: 100px;
}

.kesa {
    max-width: 200px;
}